<h1 class="text-3xl font-bold mb-6">人物一覧</h1>

<ul class="space-y-2">
  <% @resources.each do |resource| %>
    <li>
      <%= link_to resource.title, resource, class: "text-stone-700 hover:text-stone-900 underline" %>
    </li>
  <% end %>
</ul>
