<% content_for(:title, @resource.title) %>

<article class="prose prose-stone max-w-none">
  <h1>
    <%= @resource.title %>
  </h1>

  <%= markdownify @resource.content, process: [:target_blank] %>

  <% if @resource.related.present? %>
    <h2>関連項目</h2>
    <ul>
      <% Array(@resource.related).each do |slug| %>
        <% person = Content::Person.find(slug) rescue nil %>
        <li><%= link_to person&.title || slug, person_path(slug) %></li>
      <% end %>
    </ul>
  <% end %>
</article>
